<html>
    <head></head>
    <body>
        <h1>Delete Google Contacts</h1>
        <h2>Let's delete some Google contacts!</h2>
        <a href="/authorize">Connect your Google account</a>
    </body>
</html>